<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realtime Pizza App</title>


    <!-- ========= goggle fonts tato start =========== -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700&display=swap"
        rel="stylesheet">
    <!-- ========= goggle fonts tato end =========== -->

    <!--============================  tailwind css cdn link start ============================  -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!--============================  tailwind css cdn link end ============================  -->

    <!-- =========== app.css file start  ============== -->
    <link rel="stylesheet" href="/css/app.css">
    <!-- =========== app.css file end  ============== -->

</head>

<body>

    <!--=================  navbar start ==============  -->
    <nav class="container mx-auto py-4 flex items-center justify-between">
        <div>
            <img src="/img/logo.png" alt="">
        </div>
        <div>
            <ul class="flex items-center">
                <li class="ml-6"><a href="/">Home</a></li>
                <li class="ml-6"><a href="#">Offers</a></li>
                <li class="ml-6"><a href="/register">Register</a></li>
                <li class="ml-6"><a href="/login">Login</a></li>
                <li class="ml-6"><a href="/cart" class=" inline-block px-4 py-2 rounded-full"><img src="/img/cart.png"
                            alt=""></a></li>

            </ul>
        </div>
    </nav>
    <!--=================  navbar end ==============  -->


    


    <%- body %>

    <!-- ========= app.js start  =======  -->
    <script src="/js/app.js"></script>
    <!-- ========= app.js end  =======  -->
</body>

</html>

