<section class="cart py-16">
    <!-- <div class="cart-empty py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl font-bold mb-4 ">Cart Empty</h1>
            <p class="text-gray-500 text-lg mb-8">You Probably haven't ordered a pizza yet. <br> To order a piza, go to the main page.</p>
            <img src="/img/empty-cart.png" class="w-2/5 mx-auto mb-12" alt="emptypng">
            <a href="/" class="px-6 py-2 inline-block text-white  btn-primary rounded-full   ">Go Back</a>
        </div>
    </div> -->

    <div class="orders">
        <div class="container w-2/5 mx-auto">
            <div class=" ">
                <div class="border-b border-gray-300 pb-4 flex items-center mb-6">
                    <img src="/img/cart-black.png" alt="">
                    <h1 class="text-3xl font-bold ml-4">Order Summary</h1>
                </div>
                <div class="pizza-list space-y-8">
                    <div class="flex items-center">
                        <img src="/img/pizza.png" class="h-40 " alt="">
                        <div class="ml-4  flex-1 ">
                            <h1>Marinara</h1>
                            <span>Medium</span>
                        </div>
                        <span class="flex-1">1 Pcs</span>
                        <span class=" text-lg font-bold">$200</span>
                    </div>
                   

                    <hr>

                    <div class="text-right">
                        <div>
                            <span class="text-lg font-bold">Total Amount:</span>
                            <span class="amount text-2xl font-bold ml-2">$400</span>
                        </div>
                        <div>
                            <form action="" class="mt-12">
                                <input type="text" class="w-1/2 p-2 border border-gray-400 mb-4" placeholder="Phone number">
                                <input type="text" class="w-1/2 p-2 border border-gray-400" placeholder="Addres">
 
                                <div>
                                    <button type=" " class="px-6 py-2  text-white  btn  rounded-full  mt-6 ">Order Now<button/>
                                </div>
                            </form>
                        </div>
                        <!-- <div>
                            <button type=" " class="px-6 py-2  text-white  btn  rounded-full  mt-6 ">Login to continue<button/>
                        </div> -->
                    </div>
                </div>

            </div>
        </div>
    </div>


</section>